<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunabytes.piratemap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tunabytes.piratemap.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tunabytes.piratemap.StudentLoginActivity"
            android:label="@string/title_activity_student_login"
            android:parentActivityName="com.tunabytes.piratemap.WelcomeActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tunabytes.piratemap.MainActivity" />
        </activity>
        <activity
            android:name="com.tunabytes.piratemap.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.tunabytes.piratemap.TourFragment"
            android:label="@string/title_activity_tour_fragment" >
        </activity>
        <activity
            android:name="com.tunabytes.piratemap.MapFragment"
            android:label="@string/title_activity_map_fragment" >
        </activity>
        <activity
            android:name="com.tunabytes.piratemap.ScheduleFragment"
            android:label="@string/title_activity_schedule_fragment" >
        </activity>
        <activity
            android:name="com.tunabytes.piratemap.EventsFragment"
            android:label="@string/title_activity_events_fragment" >
        </activity>
        <activity
            android:name="com.tunabytes.piratemap.ChooseMajorActivity"
            android:label="@string/title_activity_choose_major"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:parentActivityName="com.tunabytes.piratemap.WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tunabytes.piratemap.WelcomeActivity" />
        </activity>
    </application>

</manifest>
